body{
    margin: 0 0 0 0;
    background-color: rgb(222,222,222)
}
header{
    width: 100%;
    height: 60px;
    background-color: rgb(51,51,51);
}
footer{
    width: 100%;
    height: 70px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0 0 0;
}
#WebsiteHead{
    display: none;
}
#logo{
    vertical-align: middle;
    margin: 10px 0 0 30px;
}
nav{
    float: right;
    margin: auto 20px auto 0;;
}
nav ul{
    list-style: disc;
}
article ul{
    list-style: none;
}
nav li{
    display: inline;
}
nav a{
    margin: 0 0 0 10px;
    text-decoration: none;
    display: inline;
    color: #fff;
}
article,section,aside{
    background: #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 4px 4px 2px rgb(205,205,205)
}
.text1{
    text-indent: 2em;
}
.pubinfo{
    font-size: 0.8em;
    color: rgb(90,94,103)
}
h3{
    color: rgb(90,94,103)
}
section figure{
    border: 1px solid rgb(205,205,205);
    width: 120px;
    height: 125px;
    padding: 10px;
    text-align: center;
}
section figure img{
    width: 100px;
    height: 81px;
    margin: 15px auto auto auto;
}
article table{
    width: 100%;
    margin: auto;
}
article table, article th,article td{
    border: 1px solid rgb(205,205,205);
    border-collapse: collapse;
}
article tr:nth-child(1){
    text-align: left;
    background: rgb(51,51,51);
    color: white;
}
article tr:nth-child(6){
    background: rgb(205,205,205);
    font-weight: bold;
}
aside h2{
    border-left: 3px solid rgb(205,205,205);
    padding-left: 10px;
    font-size: 1.2em;
}
aside h3{
    display: none;
}
aside table{
    margin: auto;
}
aside tr:nth-child(2),aside tr:nth-child(5){
    color: rgb(205,205,205)
}
#submit{
    width: 100%;
    height: 40px;
    color: white;
    background: rgb(51,85,208);
    border-radius: 8px;
}
footer{
    font-size: 0.8em;
}
